version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  node:
    build: ./server
    container_name: node-server
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "8080:8080"
    volumes:
      - ./server:/app
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
    environment:
      MONGO_URL: mongodb://mongo:27017
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "100"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    environment:
      VITE_BACKEND_URL: http://localhost:3000
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "100"
    command: ["npm", "run", "dev", "--", "--host"]



volumes:
  mongo_data:
